.carousel-inner>.item>img {
    height: 60%;
    margin: auto;
}

.carousel-fade .carousel-inner .item {
    transition-property: opacity;
}

.carousel-fade .carousel-inner .item, .carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {
    opacity: 0;
}

.carousel-fade .carousel-inner .active, .carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade .carousel-inner .next, .carousel-fade .carousel-inner .prev, .carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {
    left: 0;
    transform: translate3d(0, 0, 0);
}

.carousel-fade .carousel-control {
    z-index: 2;
}



.content {
    clear: both;
}

footer {
    clear: left;
}

.prePage {
    color: white;
    background-color: black;
    position: fixed;
    bottom: 0;
    right: 0;
}

.h1 {
    border-radius: 10px;
}

.pic {
    float: left;
    width: 160px;
    max-height: 100%;
}

#red {
    background-color: rgb(124, 38, 45);
}

#yellow {
    background-color: rgb(67, 154, 139);
}

#blue {
    background-color: rgb(42, 121, 213);
}

li {
    list-style: none;
    word-wrap:break-word;
  
}

.user li{
    float: right;
    display: inline;
    border-right: 1px dotted;
}

.sidebar{
  border: 2px solid #000;
  width: 200px;
}
